:root {
  --container-width: 1280px;
	--container-padding: 54px;

	--font-main: 'Urbanist', sans-serif;
	--font-size: 17px;

	--color-bg: #fff;
	--text-color-light: #fff;
	--text-color-dark: #414141;
	--color-primary: #FF6A00;
	--color-secondary: #FB6231;
	--color-border: #FB9953;
}