.main {
}
.accommodation {

		&__info {
      padding-bottom: 60px;
      display: flex;
      flex-direction: column;
      gap: 24px;
		}
}
.container {
}
.title {
}
.title-1 {
}
.box {

		&__cards {
		}

		&__card {
		}
}
