.button {
  min-width: 135px;
  display: flex;
  flex-wrap: nowrap;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background-color: var(--black);
  transition: opacity 0.2s ease-in;

  &:hover,
  &:active {
    opacity: 0.85;
  }

  &__img {
    flex-shrink: 0;
    width: 19px;
    height: 18px;
  }

  &__text {
    color: var(--text-color-light);
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-wrap: nowrap;
  }
}