.contact {
  display: flex;
  flex-direction: column;
  gap: 32px;

  &__content {
    padding-top: 31px;
    padding-bottom: 59px;
    display: grid;
    grid-template-areas:
      'map form'
      'map contacts';
    column-gap: 108px;
  }

  &__map {
    grid-area: map;
    width: 609px;
    height: 757px;
    background-color: #ddd;
  }

  &__form {
    grid-area: form;
    padding-bottom: 66px;
  }

  &__details {
    grid-area: contacts;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__label {
    display: flex;
    flex-direction: column;
    gap: 13px;
  }

  &__input,
  &__textarea  {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #C2C2C2;
    background: #FBFBFB;

    &::placeholder {
      color: #A1A1A1;
    }
  }

  &__textarea {
    resize: none;
  }
}

.contacts {
  padding-block: 32px;
  display: flex;
  gap: 44px;

  &__adress,
  &__web {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  // &__web {}
}