.footer {
  padding-block: 42px;
  background-color: #414141;
  color: #fff;

  &__container {
    padding-inline: 95px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    gap: 20px;
  }

  // &__logo {}

  &__logo-img {
    max-width: 116px;
    height: auto;
  }

  &__social-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__adress-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__contact-list {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }
}

.link-instagram {
  padding-left: 29px;
  position: relative;

  &::before {
    content: "";
    
    position: absolute;
    left: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
    
    background-image: url('./../img/icons/icon-instagram.svg');
    background-repeat: no-repeat;
  }
}
.link-facebook {
  position: relative;
  padding-left: 29px;

  &::before {
    content: "";
    
    position: absolute;
    left: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
    
    background-image: url('./../img/icons/icon-facebook.svg');
    background-repeat: no-repeat;
  }
}
