.header {
  padding-top: 48px;
  padding-bottom: 24px;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  // &__logo {}

  &__logo-img {
    max-width: 180px;
    height: auto;
  }

  &__nav {
    display: flex;
    flex-direction: row;
    gap: 35px;
  }

  &__nav-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  &__nav-item {
    align-self: center;
  }

  &__nav-link {
    display: block;
  }

  // &__btn {}
}
